* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

   
}

body {
    background-color: antiquewhite;
}

.header {
    padding: 20px;
    
    background-color: #2a607c;
  
}

.header h1 {
    display: inline-block; font-size: 48px; padding: 0.5%; background-color:antiquewhite; border-color: antiquewhite; color: #2a607c; 
}


.header nav {
    padding-top: 15px; margin-right: 20px; float: right;
    font-size: 24px; margin-left: 25px;
    font-weight: 700;
 
}

.header nav ul li {
    display: inline-block; margin-left: 25px;
    }

a {color: antiquewhite; text-decoration: underline;}   

v

.banner {background-size: cover; background-position: center; width: fit-content; border-bottom: solid 5px #2a607c ;}

 
.sidebar {min-width: 300px; min-height: 200px; display: flex; border-right: solid 3px #2a607c;}
.sidebar-text { font-weight: 700; font-size: 24px; margin: auto; color: #2a607c; }

.about-me-container {min-height: 200px; display: flex;}
.about-me { display: flex; }
.about-me p {font-weight: 700; font-size: 24px; margin: auto; color: #2a607c; margin-left: 5px;}


.work-container {min-height: 200px; display: flex; border-top: #2a607c solid 5px;}
.work { display: flex; flex-wrap: wrap;}
.project { display: flex; flex-wrap: wrap; margin: 3px;}

.mainproject{width: 100%; height: 600px; gap: 3px; border: #2a607c solid 1px; margin-top: 1px; margin-left: 3px; }
.mainproject p {box-sizing: content-box; border: blue solid 3px; margin-bottom: 120px;}
  
.project img { width: 50%; height:300px;}

.project1, .project2, .project3, .project4 {border: solid #2a607c 3px; gap: 3px; ; }



  



.contact-me-container {min-height: 200px; display: flex; border-top: #2a607c solid 3px;}


.contact-me {display: flex; margin: auto; }

.contact-me ul li{    
    font-size: 24px; display: inline-block; margin: 50px;}

.contact-me a {color: #2a607c; font-weight: 700;}
